body {
    font-family: 'Luckiest Guy', cursive;
    background-color: black;
    color: gold;
}

h1 {
    font-size: 45px;
    line-height: 40px;
    font-family: 'Luckiest Guy', cursive;
}

h2 {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Luckiest Guy', cursive;
    border-bottom: 3px solid gold;
}

h3 {
    font-size: 24px;
    line-height: 40px;
    font-family: 'Luckiest Guy', cursive;
}

h4 {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Luckiest Guy', cursive;
}

h5 {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Luckiest Guy', cursive;
}

h6 {
    font-size: 12px;
    line-height: 20px;
    font-family: 'Luckiest Guy', cursive;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: auto;
    height: 70%;
}

.punch-tracker {
    font-size: 3rem;
}

button {
    margin: auto;
    position: relative;
    height: 4rem;
    width: 6.5rem;
    top: 8rem;
    background-image: linear-gradient(to right, #FF0000, #D00000);
    color: white;
    font-family: 'Luckiest Guy', cursive;
}

button:hover {
    border: red solid 3px;
}

button:active {
    height: 4.5rem;
    width: 7rem;
}

#select-player-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-radius: 20px
}

#mike-photo-holder {
    /* background-image: url(../images/mike-tyson.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* max-width: 250px; */
}

#ali-photo-holder {
    /* background-image: url(../images/ali.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#mayweather-photo-holder {
    /* background-image: url(../images/mayweather.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#roy-photo-holder {
    /* background-image: url(../images/roy-jones-jr.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    width: 100%;
    height: 250px;
}

.boxer-card-holder {
    max-width: 300px;
    border-radius: 20px
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    /* border: 3px solid gold; */
    perspective: 1000px;  
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 90%;
    text-align: center;
    -webkit-transition: transform 0.8s;
    transform-style: preserve-3d;
}

.boxer-bar-holder {
    position: absolute;
    width: 100%;
    height: 10%;
    text-align: center;
    -webkit-transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: green;
}

.flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
  }

  .flip-card-front .flip-card-back {
    position: absolute;
    width: 250px;
    height: 250px;
    -webkit-backface-visibility: hidden; 
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    -webkit-transform: rotateY(180deg);
  }

.grid-item {
    /* border: 1px red solid; */
    text-align: center;
}

#welcome-text {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#player-punch-power-text {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#player-punch-power {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    font-size: 3rem;
}

#hp-text {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

#hp-bar {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    background-image: linear-gradient(to right, green, #00FF00);
    height: 2rem;
    color: green;
}

#ring-area {
    grid-column: 2 / span 1;
    grid-row: 2 / span 4;
    background-image: url('../images/5470125-wwe+boxing+arena.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: reltaive;
    display: flex;
    justify-content: space-between;
    height: 25rem;
}

.gradient-wrap {
    background: linear-gradient(to right, red, purple);
    padding: 3px;
    display: relative;
    height: 500px;
}

#player-corner {
    border: solid peru 1px;
    max-width: 300px;
    height: 100%;
}

#opponent-corner {
    border: solid peru 1px;
    height: 100%;
}

#opponent-area {
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
    height: 20rem;
    background: linear-gradient(to right, gold, black, gold);
    padding: 6px;
    border-radius: 20px;
    background-repeat: no-repeat;
}

#opponent-counter-power-text {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

#opponent-counter-power {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    font-size: 3rem;
}

#opponent-hp-text {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

#opponent-hp-bar {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
    background-image: linear-gradient(to right, green, #00FF00);
    height: 2rem;
    color: green;
}

  



